<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/sansus-webissimo" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/avara" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/argh" type="text/css"/>

  <style>
  body {
      position: relative;
  }
  p {
     font-family: 'AaarghNormal';
     font-weight: normal;
     font-style: normal;
  }
h1 {
   font-family: 'SansusWebissimoRegular';
   font-weight: normal;
   font-style: normal;
}
h2 {
   font-family: 'AvaraBold';
   font-weight: normal;
   font-style: normal;
   text-align: center;
}
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: black;}
  #section2 {padding-top:50px;height:2000px;color: #fff; background-color: grey;}
  p{
    font-size:150%;
  }
  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{%url 'c_app:front_page'%}">HOME</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1">Organizational Structure</a></li>
          <li><a href="#section2">Activities</a></li>
       </ul>
      </div>
    </div>
  </div>
</nav>

<div id="section1" class="container-fluid">
  <h1>Organizational Structure</h1>
   <br>
   <h2>Coordinators</h2>
   <p>The club is currently headed by 4 Coordinators, who are Pre-Final year Undergraduate students. The coordinators serve a tenure of 1 year and are responsible for the conduction of all the activities as well as managing the finances. They often take lectures for the benefit of the students.</p>
    <br>
   <h2>Secretaries</h2>
   <p>20-25 Secretaries work with the Coordinators to assist in the working of the club. They are responsible for the publicity of the events, contributing the questions in . Usually, the secretaries are Undergraduate Sophomores.</p>
</div>
<div id="section2" class="container-fluid">
  <h1>Activities</h1>
  <br>
   <h2>Lectures</h2>
   <p>The Programming Club holds regular lectures across diverse fields such as algorithms, web development, and app development. The lectures often involve live demos on programming and development.</p>
<br>
   <h2>Applications</h2>
   <p>The club often develops and deploys applications for the campus junta. For instance, Puppy Love is a couple matching platform used during the Valentines week.</p>
<br>
   <h2>Summer Camp</h2>
   <p>The Club organizes a summer camp every year during the academic summer break. This 40 day long camp offers multiple projects to students who have finished their freshman year, and wish to learn more about Programming through practical projects. These projects are mentored by senior students, and are overseen by the Coordinators. In addition to this, the summer camp also involves various lectures and internal contests for the learning and benefit of the people on campus during the summers. Projects done in the past have been very successful and have received much attention.</p>
<br>
   <h2>Contests</h2>
   <p>The club, apart from learning opportunities, also conducts various competitions for the students, to provide them a platform to test their knowledge in a competitive environment. The various contests are described in a separate section. Contests</p>
<br>
   <h2>Freshers' Programming Contest</h2>
   <p>This contest is organized right in the beginning of the first semester, soon after the first introductory lecture and introductory workshop. It consists of various basic algorithmic and programming tasks, very similar in pattern to online contests, but of a much simpler level. This helps recognize people who are already skilled at programming, to ensure that they get the requisite attention. But not just this, this also helps people new to programming to begin foraying into competitive programming.</p>
<br>
   <h2>HackaStart</h2>
   <p>This fresher-only contest is conducted as a part of Helix, the inter-hall JEC contest. It involves two stages, beginning with a stage having maths and logic questions; followed by the final stage. The final stage involves programming in an unknown esoteric programming language, which is provided (with the compiler and documentation) at the beginning of the contest. The students have to write certain programs in this new language within the time constraints.</p>
<br>
   <h2>Codeconclave</h2>
   <p>This a contest on competitive programming, again a part of Helix, and involves residents of halls collaborating to write solutions to algorithmic problems while competing with the other halls.</p>
<br>
   <h2>Weekend Programming Contests</h2>
   <p>The club organizes a couple of Weekend Programming Contests every year for jecians, with prizes for top performers to encourage participation. The contests are algorithmic in nature.</p>
<br>
   <h2>Equipment</h2>
   <p>The Programming club has, in its possession, a wide array of gadgets and tools which are used for conducting projects. Some of them are: Microsoft Kinect, Raspberry Pi 2, Raspberry Pi 3, LeapMotion device, Google Nexus 5, Google Cardboard etc.</p>



</div>



</body>
</html>
