<!DOCTYPE html>
{%load staticfiles%}
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <style>
  h1{
    text-align: center;
  }
  .btn{

  }

  </style>
  <body>
    <div class="container">
      <h1>Please Enter your details here!</h1>
      <form method="POST">
        {{form.as_p}}
        {% csrf_token %}
        <div class="col-md-12 text-center">
          <input class="btn btn-primary" type="submit" value="Submit">
        </div>
        <br>
        <a href="{%url 'c_app:front_page'%}"><div class="col-md-12 text-center">
        <button type="button" class="btn btn-link">Home</button>
        </div></a>

      </form>
    </div>

  </body>
</html>
