<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Rango</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>
table, th, td {
  border: 1px solid black;
  text-align: center;
}
h1
{text-align: center;
}
td
{text-align: center;
}
</style>
    </head>

    <body>
        <h1>LIST OF MEMBERS</h1>

          <div class="djangtwo">
        {% if category %}
          <table style="width:100%">
            <tr>
              <th> FIRST Name</th>
              <th> LAST Name</th>
              <th> SEMESTER</th>
              <th> ENROLLMENT NUMBER</th>
              <th> CONTACT</th>
            </tr>

            {% for acc in category %}
              <tr>
                <td>{{ acc.first_name }}</td>
                <td>{{ acc.last_name }}</td>
                <td>{{ acc.semester }}</td>
                <td>{{ acc.enrollment_number }}</td>
                <td>{{ acc.contact }}</td>
              </tr>
            {% endfor %}
        </table>

      {% else %}
        <p>No category. Table Not Created.</p>
      {% endif %}
        </div>
        <a href="{%url 'c_app:front_page'%}">
          <div class="col-md-12 text-center">
        <button type="button" class="btn btn-link">Home</button>
        </div>
        </a>
    </body>

</html>
