<!DOCTYPE html>
{%load staticfiles%}
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="img1">
      <img src="{%static 'images/ab.jpg'%}" alt="">
    </div>
    <h1>Rules and Guidelines:</h1>
    <ul>
      <li>Eligibility: A Curious JECian currently enrolled in any program (UG or PG).</li>
      <li>Profile Submission Last date-</li>
      <li>Students need to fill the Hard copy of Registration form and submit it to the Club
representative before the last date.</li>
      <li>Recruitment process:
        <ul>
         <li>First round-students will be judged on the basis of their profile submissions.</li>
         <li>Second round-Selected students will be called for Group Discussion.</li>
         <li>Third round- members will be selected on the basis of a presentation.</li>

      </ul></li>
      <li>Further details and dates will be provided on our Facebook Page.</li>
      <li>Points to remember while filling the profile form:-
         <ul>
           <li>It shall be filled in English Language only.</li>
           <li>People with relevant skills and achievements will be given extra credits. These can
               be technical as well as non technical.</li>
           <li>Only a single page form will be accepted. It has to be filled in the given space.</li>
           <li>To the point Answer would be appreciated.</li>
         </ul>
      </li>
      <li>In case of any discrepancy, Decision of Club members will be final.</li>
    </ul>
    

  </body>
</html>
